* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* HEADER */
@font-face {
  font-family: Magico;
  src: url(/fonts/MagicStory.otf);
}
.menu {
  background-color: hsl(24deg, 91%, 75%);
  height: 75px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff2e4;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.logo {
  color: white;
  font-size: 35px;
  padding: 0 80px;
  font-weight: bold;
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}
.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}
.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  color: white;
}

.menu_items li:hover, li.active {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.btn_menu {
  margin-right: 30px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
  }
  .menu_items li:hover {
    background: none;
  }
  .menu_items li a:hover {
    color: #e9183b;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
  .menu_items li {
    margin: 5px 0 0 0;
  }
}
/*BODY*/
main {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

/*SLIDES CARROUSEL*/
.container_slides {
  border-bottom: 1px solid #fff2e4;
}
.container_slides h3 {
  color: #030202;
}

/* ARTICULO 1 */
.articulo1Art {
  padding: 0;
  margin-top: 100px;
  border-bottom: 5px solid rgb(251, 236, 224);
}

.articulo1Art {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}
.articulo1Art img {
  height: 100%;
}
.articulo1Art p {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  height: auto;
  width: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: justify;
  margin-left: 15px;
}
.articulo1Art img {
  border-radius: 50%;
}

/* QUIENES SOMOS */
.quienesSomos {
  border-top: 15px solid rgb(248, 233, 221);
  border-bottom: 5px solid rgb(63, 59, 59);
}
.quienesSomos h1 {
  text-align: center;
}
.quienesSomos p {
  width: auto;
  font-size: xx-large;
  text-align: center;
  color: rgb(54, 51, 51);
}

/*FOOTER */
footer {
  min-height: 150px;
  width: 100%;
  background-color: rgb(71, 53, 41);
  display: flex;
  justify-content: space-evenly;
  color: white;
}

footer section {
  display: flex;
}

.textoFooter {
  height: 150px;
  width: 200px;
}

.footerRedes {
  height: 150px;
  width: 150px;
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.footerRedes h4 {
  margin-right: 20px;
  text-decoration: none;
  font-size: x-large;
  display: flex;
}

.iconosRedes {
  display: flex;
}

.iconosRedes a {
  margin-top: 15px;
  margin-right: 10px;
  text-decoration: none;
}

/* TRATAMIENTOS */
.tratamientosPage {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.tituloCentralTratamientos {
  margin-bottom: 25px;
  text-align: center;
  text-decoration: underline;
}

h2 {
  height: 20px;
  text-align: center;
  text-decoration: solid underline;
  margin-bottom: 50px;
}

.tratamientosPage h3 h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}

.tratamientosParte1 {
  margin-top: 20px;
}

.TextosTratamientos p {
  font-size: x-large;
}

/*CONTACTANOS*/
.contactanos {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  min-height: 100vh;
  display: flex;
  width: 100%;
}

.form {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto;
}

.form_container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form__tittle {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}

.form__input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 0.2em;
}

.form__input--message {
  font-size: 1rem;
  padding: 1.8em 1em;
  resize: none;
  margin-bottom: 0.5em;
}

.form__cta {
  font-size: 1rem;
  background-color: #089fe0;
  border: none;
  color: #fff;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .form {
    padding: 3.5em 1.5em;
  }
}
/*NUESTRA TIENDA*/
.mainTienda {
  min-height: 69vh;
  margin: auto;
}

.tituloNuestrosTratamientos {
  text-align: center;
  text-decoration: underline;
}

.tablaTratamientos {
  display: grid;
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border-radius: 0.2em;
  text-align: center;
}
.tablaTratamientos table th {
  font-size: 1.1em;
  padding: 0.5em;
}

/*# sourceMappingURL=estilos.css.map */
